@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');

body {
  font-family: 'Comfortaa';
  font-weight: 600;
  background-color: #ecf0f1;
}
input {
  font-weight: bolder;
  margin-bottom: 10px;
}
.form-title {
  width: 150px;
  text-align: right;
}
.switcher {
  position: absolute;
  top: 55px;
  right: 10px;
  z-index: 2;
}
.inputwrapper {
  margin-bottom: 10px;
}

.ant-menu {
  text-align: center;
  border: none;
  
  .ant-menu-item-selected,
  .ant-menu-item-active {
    border-color: rebeccapurple !important;

    a {
      color: rebeccapurple !important;
    }
  }
}

.dark {
   height: 100vh;
  
  background-color: #2d3436;
  color: #ecf0f1;
  h1 {
    color: #ecf0f1;
  }

  .MuiFormControl-root {
    border-color: yellowgreen;
    label {
          color: white
    }
  }
  input {
    background-color: #2d3436;
    
    color: white
  }
  .ant-menu {
    background-color: #2d3436;
    .ant-menu-item {
    a {
      color: #b2bec3;
    }
  }
    .ant-menu-item-selected,
    .ant-menu-item-active {
      border-color: white !important;

      a {
        color:white !important;
      }
    }
  }
}
