@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');

body {
  font-family: 'Comfortaa';
  font-weight: 600;
  background-color: #ecf0f1;
}
input {
  font-weight: bolder;
  margin-bottom: 10px;
}
.form-title {
  width: 150px;
  text-align: right;
}
.switcher {
  position: absolute;
  top: 55px;
  right: 10px;
  z-index: 2;
}
.MuiFormControl-root {
  margin-bottom: 10px;
}

.ant-menu {
  border: none;
  margin-left: 91px;

  .ant-menu-item-selected,
  .ant-menu-item-active {
    border-color: rebeccapurple !important;

    a {
      color: rebeccapurple !important;
    }
  }
}

.dark {
  min-height: 100vh;

  background-color: #2d3436;
  color: #ecf0f1;
  h1,
  h2,
  h3 {
    color: #ecf0f1;
  }
  .logo {
    background-color: #2d3436;
  }
  .MuiFormControl-root {
    border-color: yellowgreen;
    label {
      color: white;
    }
  }
  input {
    background-color: #2d3436;

    color: white;
  }
  .ant-menu {
    background-color: #2d3436;
    .ant-menu-item {
      a {
        color: #b2bec3;
      }
    }
    .ant-menu-item-selected,
    .ant-menu-item-active {
      border-color: white !important;

      a {
        color: white !important;
      }
    }
  }
  .ant-table {
    .ant-table-content {
      table {
        background-color: #2d3436;
        color: white;
        thead {
          tr {
            th {
              background-color: #2d3436;
              color: white;
              font-size: 120%;
              font-weight: bolder;
            }
          }
        }
        tbody {
          tr {
            td {
              border: none;
            }
          }
          tr:hover {
            color: #3498db;
          }
        }
      }
    }
  }
}
.ant-modal-footer {
  display: none;
}
.jumbotron {
  background-image: url('/back.jpg');
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  height: 47px;
  overflow: hidden;
  position: absolute;
  background-color: white;
  img {
    max-height: 47px;
  }
}
