@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap");
body {
  font-family: 'Comfortaa';
  font-weight: 600;
  background-color: #ecf0f1;
}

.ant-menu .ant-menu-item-selected,
.ant-menu .ant-menu-item-active {
  border-color: rebeccapurple !important;
}

.ant-menu .ant-menu-item-selected a,
.ant-menu .ant-menu-item-active a {
  color: rebeccapurple !important;
}
